@model List<Product>
 
<h1>Ürünler Listesi </h1>
<a href="/Product/Create" class="btn btn-success"> Yeni ürün Kaydı </a>
<br />
<hr />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Fiyatı</th>
            <th scope="col">Açıklaması</th>
            <th scope="col"> </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.ProductId</th>
                <td>@item.ProductName</td>
                <td>@item.Money</td>
                <td>@item.ProductDescription</td>
                <td> <a class="btn btn-warning" href="/Product/Update/@item.ProductId"> Güncelle </a> </td>
                <td> <a class="btn btn-danger" href="/Product/Delete/@item.ProductId"> Sil </a> </td> 

            </tr>
        }
    </tbody>
</table>