@{
    ViewData["Title"] = "Privacy Policy";
    string deneme()
    {
        return "deneme";
    }
    void deneme2()
    {
        var a = 2;
    }

    var mahmut = 65;
    int hasan = 0;
    mahmut++;
}

@(deneme())
@(
hasan = mahmut + 9 
)

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
